.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 1fr;
  grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
}

.testimonial:nth-child(1) {
  grid-area: one;
}

.testimonial:nth-child(2) {
  grid-area: two;
}

.testimonial:nth-child(3) {
  grid-area: three;
}

.testimonial:nth-child(4) {
  grid-area: four;
}

.testimonial:nth-child(5) {
  grid-area: five;
}

@media (min-width: 30em) { /* 480px */
  .testimonial-grid {
    grid-template-areas: 
    'one one'
    'two five'
    'three five'
    'four four'
  }
}

@media (min-width: 50em) { /* 800px */
  .testimonial-grid {
    grid-template-areas: 
    'one one two five'
    'three four four five'
  }
}
