* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #68a4ff;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff url(clock.png);
  background-size: cover;
  border-radius: 50%;
  border: 20px solid #fff;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 
                    0 20px 20px rgba(0,0,0,0.2),
                    0 0 0 4px rgba(255,255,255,1);
}

.clock::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #848484;
  border: 2px solid #fff;
  z-index: 100;
  border-radius: 50%;
}

.hour,
.min,
.sec {
  position: absolute;

}

.hour, 
.hr {
  width: 160px;
  height: 160px;
  z-index: 10;
}

.min, 
.mn {
  width: 190px;
  height: 190px;
  z-index: 11;
}

.sec, 
.sc {
  width: 230px;
  height: 230px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  z-index: 12;
}

.hr::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: #848484;
  border-radius: 6px 6px 0 0;
  box-shadow: 2px 1px 4px rgba(0,0,0,0.1);
}

.mn::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #d6d6d6;
  border-radius: 6px 6px 0 0;
  box-shadow: 2px 1px 4px rgba(0,0,0,0.1);
}

.sc::before {
  content: '';
  position: relative;
  width: 2px;
  height: 150px;
  background-color: #ff6767;
  border-radius: 6px 6px 0 0;
  box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
}

.date {
  position: relative;
  left: 120px;
  font-size: 0.7rem;
  width: 60px;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  justify-content: space-between;
  height: 24px;
  border: 1px solid #eee;
  z-index: 1;
  color: #bbb;
  text-transform: uppercase;
  background: #fff;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.calendar {
  position: relative;
  left: -30px;
  top:70px;
  font-size: 0.9rem;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border: 1px solid #eee;
  color: #bbb;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.dayOfWeek {
  color: #75AACE;
  font-weight: bold;
}


