* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

label {
  position: relative;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

label input {
  position: relative;
  z-index: 1;
  appearance: none;
}

label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  border-radius: 80px;
  transition: 0.3s;
  box-shadow: 0 2px 4px #ccc;
}

label input:checked ~ span{
  background: #05be05;
  box-shadow: 0 2px 4px #05be0555;
}

label span i {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

label input:checked ~ span i {
  left: 18px;
}

