* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

label {
  position: relative;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

label input {
  position: relative;
  z-index: 1;
  appearance: none;
}

label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe0000;
  border-radius: 80px;
  transition: 0.3s;
  box-shadow: 0 2px 4px #fe000055;
}

label input:checked ~ span{
  background: #05be05;
  box-shadow: 0 2px 4px #05be0555;
}

label span i {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

label input:checked ~ span i {
  left: 18px;
}

label span i::before {
  position: absolute;
  content: "";
  width: 3px ;
  height: 3px;
  top:5px;
  left:3px;
  border-radius: 50%;
  background: red;
  box-shadow: 7px 0 0 red;
  
}

label input:checked ~ span i::before {
  background: #05be05;
  box-shadow: 7px 0 0 #05be05;
}

label span i::after {
  position: absolute;
  content: '';
  bottom: 3px;
  left: calc(50% - 4px);
  width: 8px;
  height: 2px;
  transition: 0.3s;
  border-radius: 2px;
  background: red;
}

label input:checked ~ span i::after {
  background: #05be05;
  border-radius:0;
  bottom: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 4px;
}
